.login-index-page{
  display: flex;
  flex-direction: column;
  align-items: center;

  .note-bar{
    display: flex;
    gap: 10px;
  }
  .login-type-bar{
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu-bar{
      width: fit-content;
      display: flex;
      justify-content: center;
    }
  }

  .ant-menu-item{
    text-align: center;
  }
}