.layout-default-page{
  $default-size: 16px;
  height: calc(100vh - $default-size*2);
  color: #ffffff99;
  background-color: rgba(22,24,35,1);
  display: flex;
  gap: $default-size;
  padding: $default-size;
  .side-bar{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .content-bar{
    flex: auto;
  }
}